.bookmark:hover a{
    display: block;
}
.bookmark a{
    color: hsl(0, 0%, 70%);
    flex-shrink:4;
    display:none
}
.bookmark{
    display:flex;
}
.bookmark a, .bookmark .title {
    border: none;
    white-space:pre;
    overflow:hidden;
    text-overflow:ellipsis;
}
