<tabset id="shortcut">
    <tab heading="[{{bookshelfName}}]" *ngFor="let bookshelfName of bookShelfNames" >
        <li class="bookmark" *ngFor="let bookmark of bookshelves[bookshelfName]">
            <img [src]="imageURL(bookmark)" width="16" height="16">
            <input  class="title"
                    (dblclick)="startEditing($event,bookmark)"
                    type="text"
                    value="{{bookmark.title.substring(bookshelfName.length+2)}}"
                    size="{{bookmark.title.length-(bookshelfName.length+2)}}"
                    readonly>
            <a href="{{bookmark.url}}">{{bookmark.url}}</a>
        </li>
    </tab>
</tabset>

<ul>
    <li *ngFor="let history of displayHistories">
        {{history[0]}} => {{history[1]}}
    </li>
</ul>
