<tabset id="shortcut">
    <tab heading="[{{bookshelfName}}]" *ngFor="let bookshelfName of bookShelfNames" >
        <li class="bookmark" *ngFor="let bookmark of bookshelves[bookshelfName]">
            <img [src]="imageURL(bookmark)" width="16" height="16">
            <input  class="title"
                    (dblclick)="startEditing($event,bookmark)"
                    type="text"
                    value="{{bookmark.title.substring(bookshelfName.length+2)}}"
                    size="{{bookmark.title.length-(bookshelfName.length+2)}}"
                    readonly>
            <a href="{{bookmark.url}}">{{bookmark.url}}</a>
        </li>
    </tab>
</tabset>

<ul class = "list-group">
    <li *ngFor="let history of displayHistories" class="list-group-item justify-content-start">
        {{history[0]}}
        <span class="badge badge-default badge-pill">{{history[1]}}</span>
    </li>
</ul>
